.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #E5E5CB;
}

h1 {
  margin: 30px;
  font-family:'Shadows Into Light';
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #3C2A21;
}

p {
  font-size: 2rem;
  color: #3C2A21;
  font-family: 'Montserrat';
}

img {
  width: 80%;
}


